@model Shortnr.Commons.DTO.Output.ShortenedUrlOutputDTO

<div>
    <h1>My URL Details</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortenedUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortenedUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiresOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiresOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastAccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastAccess)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShortenedUrl">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
